@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600;700;800&family=Poppins:wght@500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "../abstracts/mixins";

:root {
  --color-primary: #51104b;
  --color-primary-light: #fff;
  --color-primary-dark: #070a12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is (10px)
  font-size: 62.5% !important;

  @include respond(tab-land) {
    font-size: 56.25%;
    //This defines what 1rem is (9px)
  }

  @include respond(tab-port) {
    font-size: 50%;
    //This defines what 1rem is (8px)
  }

  @include respond(big-desktop) {
    font-size: 75%;
    //This defines what 1rem is (12px)
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  font-family: "Raleway", sans-serif;

  padding: 3rem 0;
  width: 100%;
}
