@import "../abstracts/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.html {
  //This defines what 1rem is (10px)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
    //This defines what 1rem is (9px)
  }

  @include respond(tab-port) {
    font-size: 50%;
    //This defines what 1rem is (8px)
  }

  @include respond(big-desktop) {
    font-size: 75%;
    //This defines what 1rem is (12px)
  }
}

body {
  box-sizing: border-box;
}
