@import "../abstracts/mixins";

.background {
  overflow: hidden;
  z-index: -10;
  max-width: 120rem;
  margin: 0 auto;

  &__text {
    font-size: 36rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #ffffff33;
    text-transform: uppercase;

    @include respond(tab-land) {
      font-size: 25rem;
    }

    @include respond(tab-port) {
      font-size: 20rem;
    }

    @include respond(phone) {
      font-size: 15rem;
    }

    @include respond(small-phone) {
      font-size: 10rem;
    }
  }
}
