@import "../base/base";

.header {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  &__logo {
    font-size: 2rem;
    font-weight: 800;
    margin-right: auto;
  }

  &__nav {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
  }

  &__item {
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: inherit;
    padding: 1rem 0;
  }

  &__button {
    display: flex;
    background-color: var(--color-primary);
    padding: 1rem 1.6rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-left: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
  }
}
